/*
    CSS for Enterprise Java project: Income Experiences
    Heidi Aandahl
    April 2019
 */

.data-chart {
    max-height: 350px;
}

.chart-title {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}
