/*
    CSS for Enterprise Java project: Income Experiences
    Heidi Aandahl
    April 2019
 */

body {
    margin-bottom: 3em;
}

section {
    margin-top: 2.5em;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}
.profile-box {
    border-radius: 0.6em;
    text-align: center;
}

#profileSkew {
    background-color: green;
}

#profileNeeds {
    background-color: darkorchid;
}

#profileGoals {
    background-color: gold;
}


.chart {
    padding: 3em;
}

.data-chart {
    max-height: 350px;
}

.chart-title {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}


