/*
    CSS for Enterprise Java project: Income Experiences
    Heidi Aandahl
    April 2019
 */

body {
    margin-bottom: 3em;
}

section {
    margin-top: 2.5em;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.profile-box {
    border-radius: 0.6em;
    text-align: center;
    margin: 1em;
    padding:0.7em;
}

#profileSkew {
    background-color: rgba(255, 99, 132, 0.2);
}

#profileNeeds {
    background-color: rgba(54, 162, 235, 0.2);
}

#profileGoals {
    background-color: rgba(255, 206, 86, 0.2);
}


.chart {
    padding: 3em;
}

.data-chart {
    max-height: 350px;
}

.chart-title {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}


