<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Income Experiences</display-name>

    <!-- ****** AUTHENTICATION SETUP ****** -->

    <!-- Tell the server to use form-based authentication. -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
             <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Allow the user to log in from the nav by protecting a simple login servlet to trigger authentication -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>logIn</web-resource-name>
            <url-pattern>/login</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>new user</role-name>
            <role-name>data user</role-name>
            <role-name>advanced user</role-name>
            <role-name>blocked user</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Protect everything within the "admin" directory (admin role only). -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>admin jsp</web-resource-name>
            <url-pattern>/admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            </auth-constraint>
    </security-constraint>
    <!-- Protect display profile -->
    <!-- TODO - figure out how to display personal profile to any group but new user, vs any profile to advance user + admin -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>DisplayProfile</web-resource-name>
            <url-pattern>/profile</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>profile jsp</web-resource-name>
            <url-pattern>/profile.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>new user</role-name>
            <role-name>data user</role-name>
            <role-name>advanced user</role-name>
            <role-name>blocked user</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Protect search servlet. -->
    <!-- TODO - figure out how to differentiate search results for data vs. advanced users -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>search</web-resource-name>
            <url-pattern>/search.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>SearchStats</web-resource-name>
            <url-pattern>/search-stats</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>search topics</web-resource-name>
            <url-pattern>/search-topics</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>data user</role-name>
            <role-name>advanced user</role-name>
            <role-name>blocked user</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- todo clean up roles that I am not going to use-->

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <security-role>
        <role-name>new user</role-name>
    </security-role>

    <security-role>
        <role-name>data user</role-name>
    </security-role>

    <security-role>
        <role-name>advanced user</role-name>
    </security-role>

    <security-role>
        <role-name>user</role-name>
    </security-role>

    <!-- blocked user can search but not write text -->
    <!-- TODO - maybe blocked user s/b more like data user, but w/o ability to write anything.  Decide -->
    <security-role>
        <role-name>blocked user</role-name>
    </security-role>

    <!-- error-code related error pages -->

            <!-- TODO - test this one once more functionality is built in -->

    <error-page>
        <error-code>403</error-code>
        <location>/forbiddenError.jsp</location>
    </error-page>

    <!--  THESE MIGHT BE OK FOR USERS BUT ARE BAD FOR DEVELOPERS!  TODO - turn on later?

    <error-page>
        <error-code>404</error-code>
        <location>/otherError.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/otherError.jsp</location>
    </error-page>


   exception-type related error pages
    <error-page>
        <exception-type>
            java.lang.Throwable
        </exception-type >
        <location>/otherError.jsp</location>
    </error-page>

    -->


    <!-- ****** ERROR HANDLING ****** -->
    <!-- RESOURCES:
            https://www.tutorialspoint.com/servlets/servlets-exception-handling.htm
            https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
    -->
    <!-- *************************************************** -->
    <!-- we accomplish this stuff through annotations, right?? -->
    <!-- anyway I think I might simply use jsp's -->
    <!-- *************************************************** -->

    <!-- servlet definition
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>ErrorHandler</servlet-class>
    </servlet>
    -->

    <!-- servlet mappings
     <servlet-mapping>
         <servlet-name>ErrorHandler</servlet-name>
         <url-pattern>/ErrorHandler</url-pattern>
     </servlet-mapping>
     -->
    <!-- *************************************************** -->
    <!-- *************************************************** -->



    <!-- ************************************************************* -->
    <!-- ************************************************************* -->
    <!-- Tried to re-map direct access of jsp's to index page, but that seemed to block servlets from
         bringing up jsp's as well.  Getting rid of this for now.
         TODO - reinvestigate blocking direct access of jsps?  -->

    <!-- ************************************************************* -->

    <!-- Redirect attempted direct access of jsp's to index page -->
<!--
    <servlet>
        <servlet-name>redirector</servlet-name>
        <servlet-class>com.heidiaandahl.controller.Redirector</servlet-class>
    </servlet>

    <servlet-mapping>
         <servlet-name>redirector</servlet-name>
         <url-pattern>/admin.jsp</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
         <servlet-name>redirector</servlet-name>
         <url-pattern>/profile.jsp</url-pattern>
     </servlet-mapping>

 -->

    <!-- ************************************************************* -->
    <!-- ************************************************************* -->

</web-app>